:host ::ng-deep {
    label {
        margin-bottom: 0rem;
    }

    .top-tabs {
        mat-tab-group {
            .mat-tab-label-container {
                .mat-tab-label {
                    padding: 0 20px;
                    min-width: inherit;
                }
            }
        }
    }

    .table-list-inner {

        .table-wrap {
            thead {
                display: none;
            }
        }
    }
}

@mixin custom-shadow ($x, $y, $blur, $color) {
    box-shadow: $x $y $blur $color;
}

button {
    outline: none;
}


.session-wrap {
    @include custom-shadow(0, 0, 10px, rgba(0, 0, 0, 0.1));

    .session-list {


        .media-title {
            width: 130px;
        }

        h2.heading {
            font-size: 22px;
            color: #333;
        }

        .action {
            .exclaim {
                font-size: 20px;
            }

            .caret {
                font-size: 35px;
            }
        }

        .sessionProgramsChips {
            .mat-chip {
                border-radius: 3px;
                font-size: 13px;
                line-height: 1;
            }
        }

        .session-inner-list {
            .list-wrap {
                padding: 15px;
                border-radius: 4px;

                h3 {
                    margin: 0;
                    font-size: 20px;
                    font-weight: 500;
                    color: #333;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    .session-open {
        .table-wrap {
            table {
                .mat-header-row {
                    .mat-header-cell {
                        font: 700 15px/1.2 Montserrat;
                        color: rgba(0, 0, 0, 0.8);
                    }
                }

                td {
                    font: 500 15px/1.2 Montserrat;
                    color: rgba(0, 0, 0, 0.8);
                }

            }
        }

        .session-open-wrap {
            .side-list-wrap {
                @include custom-shadow(0, 0, 10px, rgba(0, 0, 0, 0.1));

                .top-tabs {
                    position: relative;

                    .refresh-btn {
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 1;
                    }
                }
            }

            .table-list-wrap {
                @include custom-shadow(0, 0, 10px, rgba(0, 0, 0, 0.1));

                .table-list-inner {
                    .table-top {
                        .table-head {
                            font: 500 20px/1.2 Montserrat;
                            color: rgba(0, 0, 0, 0.8);
                        }

                        .count-wrap {
                            span {
                                margin: 0;
                                font-size: 15px;
                                font-weight: 500;
                                color: #333;
                                width: 35px;
                                height: 35px;
                                background: #dedede;
                                border-radius: 50%;
                            }
                        }

                        .allocated {
                            p {
                                font: 500 15px/1.2 Montserrat;
                                color: rgba(0, 0, 0, 0.8);
                                max-width: 250px;

                                .badge {
                                    background: #dedede;
                                    border: 1px solid;
                                    padding: 0.35em 0.7em;
                                    border-radius: 3px;
                                }

                                &.unalloc {
                                    .badge {
                                        border-color: #2674e7;
                                        color: #fff;
                                        background-color: #cf2a27;

                                        &.full {
                                            background-color: #009e0f;
                                        }
                                    }
                                }
                            }
                        }
                    }


                    .table-wrap {
                        thead {
                            display: none;
                        }

                        span.icon-wrap {
                            margin: 0;
                            font-size: 17px;
                            font-weight: 500;
                            color: #fff;
                            width: 40px;
                            height: 40px;
                            background: #dddddd;
                            border-radius: 50%;
                            border: 1px solid rgba(0, 0, 0, 0.8);
                        }
                    }

                }
            }
        }
    }
}