<div class="session-create-custom">
<h2 mat-dialog-title class="text-center">{{data.session ? 'Edit' : 'Add'}} Session</h2>
<mat-dialog-content>
  <mat-form-field class="fld d-block">
    <mat-label>Session Name</mat-label>
    <input matInput [(ngModel)]="sessionName" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-error *ngIf="!sessionName && errorMessage">Please enter a session name</mat-error>

  <ng-multiselect-dropdown color="accent" class="w-100" [placeholder]="'Session Programs'" [data]="programs"
    [(ngModel)]="sessionPrograms" [settings]="dropdownSettings">
  </ng-multiselect-dropdown>
  <!-- <div class="d-block individual-list">
      <div class="media">
        <div class="icon-wrap">
          <fa-icon class="exclaim" [icon]="faExclamationTriangle"></fa-icon>
        </div>
        <div class="media-body">
          <p>Changes will remove allocation of following individuals</p>
          <ul class="m-0 p-0">
            <li>
              <fa-icon class="exclaim" [icon]="faCaretRight"></fa-icon>Tom Jones
            </li>
            <li>
              <fa-icon class="exclaim" [icon]="faCaretRight"></fa-icon>Tom Jones
            </li>
            <li>
              <fa-icon class="exclaim" [icon]="faCaretRight"></fa-icon>Tom Jones
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  <div class="button-wrap pt-3 pt-lg-4 pb-1 text-right">
    <button *ngIf="data.session" mat-raised-button color="warn">Delete</button>
    <button mat-raised-button class="mx-2" (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveSession()">
      <ng-container *ngIf="data.session; else elseTemplate"> Update </ng-container>
      <ng-template #elseTemplate> Save </ng-template>
    </button>
  </div>
</mat-dialog-content>

</div>